# EditorConfig is awesome: https://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{ts,js,py,java,go,c,cpp,cs}]
charset = utf-8

# 4 space indentation
[*.{ts,js,py,java,go,c,cpp,cs}]
indent_style = space
indent_size = 4