# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[codes/**.{java,js,ts,go,py,cpp,c,cs,swift,zig}]
charset = utf-8
indent_style = space
indent_size = 4
