# MacOS Desktop Services Store
.DS_Store

# Editor
.vscode/
.idea/
cmake-build-debug/
CMakeLists.txt
hello-algo.iml

# mkdocs files
site/
.cache/
codes/scripts
docs/overrides/

# python files
__pycache__
