<!-- Tags -->
{% if "material/tags" in config.plugins and tags %}
  {% include "partials/tags.html" %}
{% endif %}

<!-- Actions -->
{% include "partials/actions.html" %}

<!-- Page content -->
{{ page.content }}

<!-- Source file information -->
{% if page.meta and (
  page.meta.git_revision_date_localized or
  page.meta.revision_date
) %}
  {% include "partials/source-file.html" %}
{% endif %}

<!-- Was this page helpful? -->
{% include "partials/feedback.html" %}

<!-- Previous and next pages link -->
<nav
class="md-footer__inner md-grid"
aria-label="{{ lang.t('footer') }}"
{{ hidden }}
>

<!-- Link to previous page -->
{% if page.previous_page %}
  {% set direction = lang.t("footer.previous") %}
  <a
    href="{{ page.previous_page.url | url }}"
    class="md-footer__link md-footer__link--prev"
    aria-label="{{ direction }}: {{ page.previous_page.title | e }}"
    rel="prev"
  >
    <div class="md-footer__button md-icon">
      {% set icon = config.theme.icon.previous or "material/arrow-left" %}
      {% include ".icons/" ~ icon ~ ".svg" %}
    </div>
    <div class="md-footer__title">
      <span class="md-footer__direction">
        {{ direction }}
      </span>
      <div class="md-ellipsis">
        {{ page.previous_page.title }}
      </div>
    </div>
  </a>
{% endif %}

<!-- Link to next page -->
{% if page.next_page %}
  {% set direction = lang.t("footer.next") %}
  <a
    href="{{ page.next_page.url | url }}"
    class="md-footer__link md-footer__link--next"
    aria-label="{{ direction }}: {{ page.next_page.title | e }}"
    rel="next"
  >
    <div class="md-footer__title">
      <span class="md-footer__direction">
        {{ direction }}
      </span>
      <div class="md-ellipsis">
        {{ page.next_page.title }}
      </div>
    </div>
    <div class="md-footer__button md-icon">
      {% set icon = config.theme.icon.next or "material/arrow-right" %}
      {% include ".icons/" ~ icon ~ ".svg" %}
    </div>
  </a>
{% endif %}
</nav>

<!-- Comment system -->
{% include "partials/comments.html" %}