/* Color Settings */
/* https://github.com/squidfunk/mkdocs-material/blob/6b5035f5580f97532d664e3d1babf5f320e88ee9/src/assets/stylesheets/main/_colors.scss */
/* https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#custom-colors */
:root > * {
  --md-primary-fg-color: #ffffff;
  --md-primary-bg-color: #1d1d20;

  --md-default-fg-color: #1d1d20;
  --md-default-bg-color: #ffffff;

  --md-code-fg-color: #1d1d20;

  --md-accent-fg-color: #999;

  --md-admonition-fg-color: #1d1d20;

  --md-typeset-color: #1d1d20;
  --md-typeset-a-color: #2aa996;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #22272e;
  --md-primary-bg-color: #adbac7;

  --md-default-fg-color: #adbac7;
  --md-default-bg-color: #22272e;

  --md-code-bg-color: #1D2126;
  --md-code-fg-color: #adbac7;

  --md-accent-fg-color: #aaa;

  --md-admonition-fg-color: #adbac7;

  --md-footer-fg-color: #adbac7;

  --md-typeset-color: #adbac7;
  --md-typeset-a-color: #21c8b8 !important;
}

/* https://github.com/squidfunk/mkdocs-material/issues/4832#issuecomment-1374891676 */
.md-nav__link[for] {
  color: var(--md-default-fg-color) !important;
}

/* Center Markdown Tables (requires md_in_html extension) */
.center-table {
  text-align: center;
}

/* Reset alignment for table cells */
.md-typeset .center-table :is(td, th):not([align]) {
  text-align: initial;
}

/* Font size */
.md-typeset {
  font-size: 0.75rem;
  line-height: 1.5;
}

.md-typeset pre {
  font-size: 0.95em;
}

/* Markdown Header */
/* https://github.com/squidfunk/mkdocs-material/blob/dcab57dd1cced4b77875c1aa1b53467c62709d31/src/assets/stylesheets/main/_typeset.scss */
.md-typeset h1 {
  font-weight: 400;
  color: var(--md-default-fg-color);
}

.md-typeset h2 {
  font-weight: 400;
}

.md-typeset h3 {
  font-weight: 500;
}

/* Image align center */
.center {
  display: block;
  margin: 0 auto;
}

/* font-family setting for Win10 */
body {
  --md-text-font-family: -apple-system, BlinkMacSystemFont,
    var(--md-text-font, _), Helvetica, Arial, sans-serif;
  --md-code-font-family: var(--md-code-font, _), SFMono-Regular, Consolas, Menlo,
    -apple-system, BlinkMacSystemFont, var(--md-text-font, _), monospace;
}

/* max height of code block */
/* https://github.com/squidfunk/mkdocs-material/issues/3444 */
.md-typeset pre > code {
  max-height: 25rem;
}

/* Make the picture not glare in dark theme */
[data-md-color-scheme="slate"] .md-typeset img,
[data-md-color-scheme="slate"] .md-typeset svg,
[data-md-color-scheme="slate"] .md-typeset video {
  filter: brightness(0.85) invert(0.05);
}
